<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="views/admin/layout/layout :: head">
</head>
<head>
<!-- <link th:href="@{/private/user/css/onoffswitch.css}" type="text/css" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body class="">
	<div class="wrapper ">
		<!-- top navigation -->
		<div th:replace="views/admin/layout/layout :: menu"></div>
		<!-- /top navigation -->
		<div class="main-panel">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /sidebar menu -->
			<div class="content">
				<div class="container-fluid">
					<div class="row"th:classappend="${clienteRequerido}? 'hidden'" >
						<th:block data-th-each="opcion : ${opcions}">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:if="${opcion.nombre=='Agregar CLiente'}">
								<div class="card card-stats">
									<div class="card-header card-header-info card-header-icon">
										<div class="card-icon">
											<i class="fas fa-plus-circle"> </i>
										</div>
										<p class="card-category">Agregar</p>
										<h3 class="card-title">Cliente</h3>
									</div>
									<div class="card-footer">
										<div class="stats">
											<button id="btnAgregar" title="Agregar Usuario"
												class="btn btn-success btn-round" th:text="${opcion.nombre}"></button>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div class="row" th:classappend="!${clienteRequerido}? 'hidden'" id="rowCliente">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Cliente</h4>
									<p class="card-category">Editar Cliente</p>
								</div>
								<div class="card-body">
									<form
										th:action="${clienteRequerido}? ${'modificar?id='+clienteRequerido.idCliente}"
										method="post" id="formCliente">
										<legend> Datos personales </legend>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-user fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off" id="nombres"
														name="nombres" placeholder="Nombres" required type="text" 
														th:value="${clienteRequerido}? ${clienteRequerido.persona.nombres}" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-male fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="apellidoPaterno" name="apellidoPaterno"
														placeholder="Apellido paterno" required type="text" 
														th:value="${clienteRequerido}? ${clienteRequerido.persona.apellidoPaterno}" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-female fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="apellidoMaterno" name="apellidoMaterno"
														placeholder="Apellido materno" required type="text"
															th:value="${clienteRequerido}? ${clienteRequerido.persona.apellidoMaterno}"  />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-gift fa-fw"> </i>
														</span>
													</div>
													<input class="form-control selectpicker" autocomplete="off"
														id="fechaNacimiento" name="fechaNacimiento" required
														type="date"
															th:value="${clienteRequerido}? ${clienteRequerido.persona.fechaNacimiento}"  />
												</div>
											</div>
										</div>
										<legend class="mt-3"> Dirección </legend>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<select class="form-control selectpicker"
														data-style="btn btn-link" id="tipoDireccion"
														autocomplete="off" name="tipoDireccion" required>
														<option value="">Tipo</option>
														<th:block data-th-each="tp:${tiposDireccion}">
															<option th:value="${tp.idTipoDireccion}"
																th:selected="${clienteRequerido}? ${clienteRequerido.direccion.tipodireccion.idTipoDireccion==tp.idTipoDireccion}"
																th:text="${tp.nombreTipoDireccion}"></option>
														</th:block>
														<option value="Otro">Otro</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-road fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" id="dir_otro"
														autocomplete="off" name="dir_otro" placeholder="Otro"
														type="text" /> <span aria-hidden="true"> </span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-road"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="nombreDireccion" name="nombreDireccion"
														placeholder="Nombre de la dirección" required type="text"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.nombreDireccion}" />
												</div>
											</div>
											<div class="col-sm-2">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"> <b>Mz </b>
															</span>
														</div>
														<input class="form-control" autocomplete="off"
															id="manzanaDireccion" name="manzanaDireccion"
															placeholder="Mz." required type="number"
															th:value="${clienteRequerido}? ${clienteRequerido.direccion.manzanaDireccion}" />
													</div>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"> <b>Lt </b>
															</span>
														</div>
														<input class="form-control" autocomplete="off"
															id="loteDireccion" name="loteDireccion" placeholder="Lt."
															th:value="${clienteRequerido}? ${clienteRequerido.direccion.loteDireccion}"
															required type="number" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-map-marker-alt"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="estadociudadDireccion" name="estadociudadDireccion"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.estadociudadDireccion}"
														placeholder="Estado o Ciudad" required />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-map-marker-alt"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="alcaldiamunicipioDireccion"
														name="alcaldiamunicipioDireccion"
														placeholder="Alcaldía o Municipio"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.alcaldiamunicipioDireccion}"
														required type="text" />
												</div>
											</div>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-route fa-fw"></i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="referencia" name="referencia" placeholder="Referencia"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.referencia}"
														required type="text" />
												</div>
											</div>
											<div class="col-sm-2">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-map-marked-alt fa-fw"></i>
														</span>
													</div>
													<input class="form-control" autocomplete="off" id="seccion"
														name="seccion" placeholder="Seccion" required type="text"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.zona.seccion}" />
												</div>
											</div>
											<div class="col-sm-2">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><b>#</b> </span>
													</div>
													<input class="form-control" id="subSeccion"
														name="subSeccion" placeholder="Sub-seccion"
														autocomplete="off" required type="number" maxlength="2"
														th:value="${clienteRequerido}? ${clienteRequerido.direccion.zona.subSeccion}" />
												</div>
											</div>
										</div>
										<legend class="mt-3"> Informacion de contacto </legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <b> @ </b>
														</span>
													</div>
													<input class="form-control" id="correoContacto"
														name="correoContacto" autocomplete="off"
														placeholder="Correo Electrónico" required type="email"
														th:value="${clienteRequerido}? ${clienteRequerido.persona.correoContacto}" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<p class="mt-3">Teléfono(s)</p>
												<label>Debe indicar al menos un teléfono</label>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-phone"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														th:value="${clienteRequerido}? ${clienteRequerido.persona.telefono1}"
														id="telefono1" name="telefono1" placeholder="Telefono #1"
														required type="text" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-phone"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														th:value="${clienteRequerido}? ${clienteRequerido.persona.telefono2}"
														id="telefono2" name="telefono2" placeholder="Telefono #2"
														type="text" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fas fa-phone"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														th:value="${clienteRequerido}? ${clienteRequerido.persona.telefono3}"
														id="telefono3" name="telefono3" placeholder="Telefono #3"
														type="text" />
												</div>
											</div>
										</div>
										<br />
										<div id="divMessage"></div>
										<div class="row">
											<div class="col-sm-2">
												<button class="btn btn-primary" id="btnGuardar"
													type="submit">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:classappend="${clienteRequerido}? 'hidden'"
						id="lista">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-warning">
									<h4 class="card-title">Cliente</h4>
									<p class="card-category">Lista de todos los clientes</p>
								</div>
								<div class="card-body table-responsive" id="scrolltable">

									<table id="tblCliente" class="table w-100">
										<thead class="text-warning">
											<tr>
												<th>Codigo</th>
												<th>Nombres</th>
												<th>ApellidoPaterno</th>
												<th>Estado</th>
												<th>Opcion</th>
											</tr>
										</thead>
										<tbody>
											<th:block data-th-each="c : ${clientes}" th:remove="tag">
												<tr>
													<td th:text="${c.idCliente}"></td>
													<td th:text="${c.persona.nombres}"></td>
													<td th:text="${c.persona.apellidoPaterno}"></td>
													<td th:id="${'estado'+c.idCliente}"
														th:class="${c.estado==1? 'text-success':'text-danger'}"
														th:text="${c.estado==1? 'Activo':'Inactivo'}"></td>
													<td class="td-actions" id="options"><th:block
															data-th-each="o: ${opcions}" th:remove="tag">
															<th:block data-th-if="${o.submodulo.nombre=='Cliente'}"
																th:remove="tag">
																<th:block data-th-if="${o.nombre=='Editar Cliente'}">
																	<button type="button" class="btn btn-success"
																		th:attr="onclick=${'obtener(this,event,'+c.idCliente+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
																<th:block
																	data-th-if="${o.nombre=='Cambiar Estado Cliente'}">
																	<button type="button" class="btn btn-info"
																		th:attr="onclick=${'cambiarEstado(this,event,'+c.idCliente+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
															</th:block>
														</th:block></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="views/admin/layout/layout :: footer" th:remove="tag"></div>
			<script type="text/javascript" th:src="@{/private/user/jsCliente.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/user/js/jsMessage.js}"></script>
		</div>
	</div>
	<!-- /footer content -->
</body>
</html>