<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="views/admin/layout/layout :: head">
</head>
<head>
<!-- <link th:href="@{/private/user/css/onoffswitch.css}" type="text/css" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body class="">
	<div class="wrapper ">
		<!-- top navigation -->
		<div th:replace="views/admin/layout/layout :: menu"></div>
		<!-- /top navigation -->
		<div class="main-panel">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /sidebar menu -->
			<div class="content">
				<div class="container-fluid">
					<div class="row" th:classappend="${egresoRequerido}? 'hidden'">
						<th:block data-th-each="opcion : ${opcions}">
							<div class="col-xl-4 col-md-6 col-sm-6"
								th:if="${opcion.nombre=='Agregar Egreso'}">
								<div class="card card-stats">
									<div class="card-header card-header-info card-header-icon">
										<div class="card-icon">
											<i class="fas fa-plus-circle"> </i>
										</div>
										<p class="card-category">Agregar</p>
										<h3 class="card-title">Egreso</h3>
									</div>
									<div class="card-footer">
										<div class="stats">
											<button id="btnAgregar" title="Agregar Usuario"
												class="btn btn-success btn-round" th:text="${opcion.nombre}"></button>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div class="row" th:classappend="!${egresoRequerido}? 'hidden'"
						id="rowEgreso">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Egreso</h4>
									<p class="card-category">Editar Egreso</p>
								</div>
								<div class="card-body">
									<form
										th:action="${egresoRequerido}? ${'modificar?id='+egresoRequerido.idEgreso}"
										method="post" id="formEgreso">
										<div class="row">
											<div class="col-sm-12">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-cart-arrow-down fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="descripcion" name="descripcion"
														placeholder="Descripción" required type="text"
														th:value="${egresoRequerido}? ${egresoRequerido.descripcion}" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
															class="fas fa-code-branch fa-fw"></i></span>
													</div>
													<select class="form-control"
														data-style="btn btn-link" id="categoriaEgreso"
														name="categoriaEgreso" required>
														<option value="">Categoria</option>
														<th:block data-th-each="ce:${categorias}">
															<option th:value="${ce.idCategoriaEgreso}"
																th:selected="${egresoRequerido}? ${egresoRequerido.categoriaegreso.idCategoriaEgreso==ce.idCategoriaEgreso}"
																th:text="${ce.nombreCategoriaEgreso}"></option>
														</th:block>
													</select>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-money-bill-wave fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="precioUnitario" name="precioUnitario"
														placeholder="Costo Unitario" required type="number" min="0" step="0.05"
														th:value="${egresoRequerido}? ${egresoRequerido.precioUnitario}" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-boxes fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="cantidad" name="cantidad" placeholder="Cantidad"
														required type="number" min="0" step="1"
														th:value="${egresoRequerido}? ${egresoRequerido.cantidad}" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-dollar-sign fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off" id="total"
														name="total" placeholder="Costo total" required readonly
														type="text"
														th:value="${egresoRequerido}? ${egresoRequerido.total}" />
												</div>
											</div>

										</div>
										<br />
										<div id="divMessage"></div>
										<div class="row">
											<div class="col-12 d-flex">
												<button class="btn btn-primary ml-auto" id="btnGuardar"
													type="submit">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:classappend="${egresoRequerido}? 'hidden'"
						id="lista">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-warning">
									<h4 class="card-title">Usuarios</h4>
									<p class="card-category">Lista de todos los usuarios</p>
								</div>
								<div class="card-body table-responsive" id="scrolltable">

									<table id="tblEgreso" class="table w-100">
										<thead class="text-warning">
											<tr>
												<th>Codigo</th>
												<th>Fecha y hora</th>
												<th>Costo Unitario</th>
												<th>Cantidad</th>
												<th>Total</th>
												<th>Usuario</th>
												<th>Categoria Egreso</th>
												<th>Opcion</th>
											</tr>
										</thead>
										<tbody>
											<th:block data-th-each="e : ${egresos}" th:remove="tag">
												<tr>
													<td th:text="${e.idEgreso}"></td>
													<td th:text="${e.fecha +' ' +e.hora}"></td>
													<td th:text="${'$ '+e.precioUnitario}"></td>
													<td th:text="${e.cantidad}"></td>
													<td th:text="${'$ '+e.total}"></td>
													<td th:text="${e.usuario.usuario}"></td>
													<td th:text="${e.categoriaegreso.nombreCategoriaEgreso}"></td>
													<td class="td-actions" id="options"><th:block
															data-th-each="o: ${opcions}" th:remove="tag">
															<th:block data-th-if="${o.submodulo.nombre=='Egresos'}"
																th:remove="tag">
																<th:block data-th-if="${o.nombre=='Eliminar Egreso'}">
																	<button type="button" class="btn btn-danger"
																		th:attr="onclick=${'eliminar(this,event,'+e.idEgreso+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
															</th:block>
														</th:block></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="views/admin/layout/layout :: footer" th:remove="tag"></div>
			<script type="text/javascript" th:src="@{/private/user/jsEgreso.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/user/js/jsMessage.js}"></script>
		</div>
	</div>
	<!-- /footer content -->
</body>
</html>