<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="views/admin/layout/layout :: head">
</head>
<head>
<!-- <link th:href="@{/private/user/css/onoffswitch.css}" type="text/css" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body class="">
	<div class="wrapper ">
		<!-- top navigation -->
		<div th:replace="views/admin/layout/layout :: menu"></div>
		<!-- /top navigation -->
		<div class="main-panel">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /sidebar menu -->
			<div class="content">
				<div class="container-fluid">
					<div class="row" th:classappend="${perfilRequerido}? 'hidden'">
						<th:block data-th-each="opcion : ${opcions}"
							th:if="${opcion.nombre=='Agregar Perfil'}">
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-header card-header-info card-header-icon">
										<div class="card-icon">
											<i class="fas fa-plus-circle"> </i>
										</div>
										<p class="card-category">Agregar</p>
										<h3 class="card-title">Perfil</h3>
									</div>
									<div class="card-footer">
										<div class="stats">
											<button id="btnAgregar" title="Agregar Perfil"
												class="btn btn-success btn-round" th:text="${opcion.nombre}"></button>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div class="row" th:classappend="!${perfilRequerido}? 'hidden'"
						id="rowPerfil">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Perfil</h4>
									<p class="card-category">Editar Perfil</p>
								</div>
								<div class="card-body">
									<form th:action="${perfilRequerido}? ${'modificar?id='+perfilRequerido.idPerfil}"method="post" id="formPerfil">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-user-cog fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="nombrePerfil" name="nombrePerfil"th:value="${perfilRequerido}? ${perfilRequerido.nombre}"
														placeholder="Nombre del Perfil" required type="text" />
												</div>
											</div>
										</div>
										<div class="row" th:if="!${perfilRequerido}? 'hidden'">
											<th:block data-th-each="m : ${modulos}" th:remove="tag">
												<h3 class="col-sm-12" th:text="${m.nombre}"></h3>
												<th:block data-th-each="s: ${m.submodulos}" th:remove="tag">
													<div class="col-sm-12" th:text="${s.nombre}"></div>
													<th:block data-th-each="o: ${opcions}" th:remove="tag"
														th:if="${o.submodulo.idSubModulo==s.idSubModulo}">
														<div class="col-sm-3">
															<div class="togglebutton">
																<label> <input type="checkbox" th:attr="idOpcion=${o.idOpcion}">
																	<span class="toggle"></span><span th:text="${o.nombre}"></span>
																</label>
															</div>
														</div>
													</th:block>
												</th:block>
											</th:block>
										</div>
										<div class="row" th:if="${perfilRequerido}? 'hidden'">
											<th:block data-th-each="m : ${modulos}" th:remove="tag">
												<h3 class="col-sm-12" th:text="${m.nombre}"></h3>
												<th:block data-th-each="s: ${m.submodulos}" th:remove="tag">
													<div class="col-sm-12" th:text="${s.nombre}"></div>
													<th:block data-th-each="p: ${perfilRequerido.permisos}" th:remove="tag"
														th:if="${p.opcion.submodulo.idSubModulo==s.idSubModulo}">
														<div class="col-sm-3">
															<div class="togglebutton">
																<label> <input type="checkbox" th:attr="idOpcion=${p.opcion.idOpcion},idpermiso=${p.idPermiso}" 
																th:checked="${p.estado==1}">
																	<span class="toggle"></span><span th:text="${p.opcion.nombre}"></span>
																</label>
															</div>
														</div>
													</th:block>
												</th:block>
											</th:block>
										</div>
										<br />
										<div id="divMessage"></div>
										<div class="row">
											<div class="col-sm-2">
												<button class="btn btn-primary" type="submit"
													id="btnGuardar">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:classappend="${perfilRequerido}? 'hidden'"
						id="lista">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-warning">
									<h4 class="card-title">Perfiles</h4>
									<p class="card-category">Lista de todos los perfiles</p>
								</div>
								<div class="card-body table-responsive" id="scrolltable">

									<table id="tblPerfil" class="table w-100">
										<thead class="text-warning">
											<tr>
												<th>Codigo</th>
												<th>Nombre del Perfil</th>
												<th>Estado</th>
												<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<th:block data-th-each="p : ${perfiles}" th:remove="tag">
												<tr>
													<td th:text="${p.idPerfil}"></td>
													<td th:text="${p.nombre}"></td>
													<td th:id="${'estado'+p.idPerfil}"
														th:class="${p.estado==1? 'text-success':'text-danger'}"
														th:text="${p.estado==1? 'Activo':'Inactivo'}"></td>
													<td class="td-actions" id="options"><th:block
															data-th-each="o: ${opcions}" th:remove="tag">
															<th:block data-th-if="${o.submodulo.nombre=='Perfil'}"
																th:remove="tag">
																<th:block data-th-if="${o.nombre=='Editar Perfil'}">
																	<button type="button" class="btn btn-success"
																		th:attr="onclick=${'obtener(this,event,'+p.idPerfil+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
																<th:block
																	data-th-if="${o.nombre=='Cambiar Estado Perfil'}">
																	<button type="button" class="btn btn-info"
																		th:attr="onclick=${'cambiarEstado(this,event,'+p.idPerfil+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
															</th:block>
														</th:block></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="views/admin/layout/layout :: footer" th:remove="tag"></div>
			<script type="text/javascript" th:src="@{/private/user/jsPerfil.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/user/js/jsMessage.js}"></script>
		</div>
	</div>
	<!-- /footer content -->
</body>
</html>