<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="views/admin/layout/layout :: head">
</head>
<head>
<!-- <link th:href="@{/private/user/css/onoffswitch.css}" type="text/css" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body class="">
	<div class="wrapper ">
		<!-- top navigation -->
		<div th:replace="views/admin/layout/layout :: menu"></div>
		<!-- /top navigation -->
		<div class="main-panel">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /sidebar menu -->
			<div class="content">
				<div class="container-fluid">
					<div class="row" th:classappend="${productoRequerido}? 'hidden'">
						<th:block data-th-each="opcion : ${opcions}">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:if="${opcion.nombre=='Agregar Producto'}">
								<div class="card card-stats">
									<div class="card-header card-header-info card-header-icon">
										<div class="card-icon">
											<i class="fas fa-plus-circle"> </i>
										</div>
										<p class="card-category">Agregar</p>
										<h3 class="card-title">Producto</h3>
									</div>
									<div class="card-footer">
										<div class="stats">
											<button id="btnAgregar" title="Agregar Producto"
												class="btn btn-success btn-round" th:text="${opcion.nombre}"></button>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div class="row" th:classappend="!${productoRequerido}? 'hidden'"
						id="rowProducto">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Producto</h4>
									<p class="card-category">Editar Producto</p>
								</div>
								<div class="card-body">
									<form
										th:action="${productoRequerido}? ${'modificar?id='+productoRequerido.idProducto}"
										id="formProducto" method="post">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-box fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off" id="nombre"
														th:value="${productoRequerido}? ${productoRequerido.inventario.nombre}"
														name="nombre" placeholder="Nombre del Producto" required
														type="text" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-boxes fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off" id="stock"
														name="stock"
														th:value="${productoRequerido}? ${productoRequerido.inventario.stock}"
														placeholder="Stock" required type="number" min="0" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i
															class="fa fa-money-bill-wave fa-fw"> </i>
														</span>
													</div>
													<input class="form-control" autocomplete="off"
														id="precioVenta" name="precioVenta"
														th:value="${productoRequerido}? ${productoRequerido.precioVenta}"
														placeholder="Precio de Venta" required type="number"
														min="0" step="0.05" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
															class="fas fa-code-branch fa-fw"></i></span>
													</div>
													<select class="form-control" id="categoria"
														name="categoria" required>
														<option value=""><--Desplegar--></option>
														<th:block data-th-each="c:${categorias}">
															<option
																th:selected="${productoRequerido}? ${productoRequerido.categoria.idCategoria==c.idCategoria}"
																th:value="${c.idCategoria}" th:text="${c.nombre}"></option>
														</th:block>
													</select>
												</div>
											</div>
										</div>
										<br />
										<div id="divMessage"></div>
										<div class="row">
											<div class="col-sm-2">
												<button id="btnGuardar" class="btn btn-primary"
													type="submit">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:classappend="${productoRequerido}? 'hidden'"
						id="lista">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-warning">
									<h4 class="card-title">Productos</h4>
									<p class="card-category">Lista de todos los productos</p>
								</div>
								<div class="card-body table-responsive" id="scrolltable">

									<table id="tblProducto" class="table w-100">
										<thead class="text-warning">
											<tr>
												<th>Codigo</th>
												<th>Nombre</th>
												<th>Categoria</th>
												<th>Stock</th>
												<th>Precio de Venta</th>
												<th>Estado</th>
												<th>Opcion</th>
											</tr>
										</thead>
										<tbody>
											<th:block data-th-each="p : ${productos}" th:remove="tag">
												<tr>
													<td th:text="${p.idProducto}"></td>
													<td th:text="${p.inventario.nombre}"></td>
													<td th:text="${p.categoria.nombre}"></td>
													<td class="td-actions"><span
														th:id="${'stock'+p.idProducto}"
														th:class="${p.inventario.stock>10? 'text-success':'text-danger'}"
														th:text="${p.inventario.stock}"></span> <th:block
															data-th-each="o: ${opcions}" th:remove="tag">
															<th:block data-th-if="${o.submodulo.nombre=='Producto'}"
																th:remove="tag">
																<th:block
																	data-th-if="${o.nombre=='Agregar Stock Producto'}">
																	<button type="button" class="btn btn-primary"
																		th:attr="onclick=${'agregarStock(this,event,'+p.idProducto+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
																<th:block
																	data-th-if="${o.nombre=='Quitar Stock Producto'}">
																	<button type="button" class="btn btn-danger"
																		th:attr="onclick=${'quitarStock(this,event,'+p.idProducto+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
															</th:block>
														</th:block></td>
													<td th:text="${p.precioVenta}"></td>
													<td th:id="${'estado'+p.idProducto}"
														th:class="${p.inventario.estado==1? 'text-success':'text-danger'}"
														th:text="${p.inventario.estado==1? 'Activo':'Inactivo'}"></td>
													<td class="td-actions" id="options"><th:block
															data-th-each="o: ${opcions}" th:remove="tag">
															<th:block data-th-if="${o.submodulo.nombre=='Producto'}"
																th:remove="tag">
																<th:block data-th-if="${o.nombre=='Editar Producto'}">
																	<button type="button" class="btn btn-success"
																		th:attr="onclick=${'obtener(this,event,'+p.idProducto+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
																<th:block
																	data-th-if="${o.nombre=='Cambiar Estado Producto'}">
																	<button type="button" class="btn btn-info"
																		th:attr="onclick=${'cambiarEstado(this,event,'+p.idProducto+')'}">
																		<span th:class="${o.icon}"></span>
																	</button>
																</th:block>
															</th:block>
														</th:block></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalStock" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalTittle">Agregar Stock</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="formStock">
							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"> <i
													class="fa fa-boxes fa-fw"> </i>
												</span>
											</div>
											<input class="form-control" autocomplete="off" id="stockM"
												name="stock"
												th:value="${productoRequerido}? ${productoRequerido.inventario.stock}"
												placeholder="Stock" required type="number" min="0" />
										</div>
									</div>
								</div>
								<div id="divMessage2"></div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Cerrar</button>
								<button type="submit" class="btn btn-primary"
									id="btnEnviarStock"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div th:replace="views/admin/layout/layout :: footer" th:remove="tag"></div>
			<script type="text/javascript"
				th:src="@{/private/user/jsProducto.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/user/js/jsMessage.js}"></script>
		</div>
	</div>
	<!-- /footer content -->
</body>
</html>