<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="views/admin/layout/layout :: head">
</head>
<head>
<!-- <link th:href="@{/private/user/css/onoffswitch.css}" type="text/css" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body class="">
	<div class="wrapper ">
		<!-- top navigation -->
		<div th:replace="views/admin/layout/layout :: menu"></div>
		<!-- /top navigation -->
		<div class="main-panel">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /sidebar menu -->
			<div class="content">
				<div class="container-fluid" th:if="!${cajaAbierta}">
					<div class="card bg-danger">
						<div class="card-body">
							<h5 class="card-category card-category-social">
								<i class="fas fa-exclamation-triangle"></i> <span>Caja
									no abierta</span>
							</h5>
							<h4 class="card-title">
								<p>No se ha abierto la caja. Abra la caja e intentelo otra
									vez</p>
								<p>Una vez que abra la caja actualice la página</p>
							</h4>
						</div>
					</div>
				</div>
				<div class="container-fluid" th:if="${cajaAbierta}">
				
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="card ">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Caja</h4>
									<p class="card-category">Realizar Venta</p>
								</div>

								<div class="card-body">
									<div>
										<form id="formDatosPersona">
											<div class="row">

												<div class="col-sm-4">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">ID </span>
														</div>
														<input class="form-control" autocomplete="off"
															id="inputFiltro" name="idCliente"
															placeholder="ID del Cliente" required type="text" />
														<div style="display: none" id="dataFiltro">
															<ul class="listaFiltro">
																<li class="listaFiltroItem">
																	<p class="dataFiltroNombre">Clientes Varios</p>
																	<p class="dataFiltroDireccion">No definido</p>
																	<p class="dataFiltroId">0</p>
																</li>
																<th:block data-th-each="c :${clientes}" th:remove="tag">
																	<li class="listaFiltroItem">
																		<p class="dataFiltroNombre"
																			th:text="${c.persona.nombres+' '+
																		c.persona.apellidoPaterno+' '+
																		c.persona.apellidoMaterno}"></p>
																		<p class="dataFiltroDireccion"
																			th:text="${c.direccion.tipodireccion.nombreTipoDireccion
																			+' '+c.direccion.nombreDireccion
																			+' '+c.direccion.manzanaDireccion
																			+' '+c.direccion.loteDireccion}"></p>
																		<p class="dataFiltroId" th:text="${c.idCliente}"></p>

																	</li>
																</th:block>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-sm-8">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fa fa-user fa-fw"> </i> </span>
														</div>
														<input class="form-control" name="nombreCliente"
															id="nombreCliente" required
															placeholder="Nombre del Cliente" autocomplete="off"
															type="text" />
													</div>
												</div>
											</div>
										</form>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
															class="fa fa-credit-card fa-fw"> </i> </span>
													</div>
													<select class="form-control" id="metodoPago"
														name="metodoPago" required>
														<th:block data-th-each="m:${metodopagos}">
															<option th:value="${m.idMetodoPago}"
																th:text="${m.nombre}"></option>
														</th:block>
													</select>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
															class="fa fa-truck fa-fw"> </i> </span>
													</div>
													<select class="form-control" id="tipoVenta"
														name="tipoVenta" required>
														<th:block data-th-each="t:${tipoventas}">
															<option th:value="${t.idTipoVenta}" th:text="${t.nombre}"></option>
														</th:block>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
															class="fa fa-map-marker-alt fa-fw"> </i> </span>
													</div>
													<input class="form-control" id="direccionCliente"
														type="text" placeholder="Direccion del Cliente" readonly />
												</div>
											</div>
										</div>
										<form action="venta/realizarVenta" id="formDetalleVenta"
											method="post">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fa fa-box fa-fw"> </i> </span>
														</div>
														<input class="form-control" id="producto" readonly
															required type="text"
															placeholder="Click para elegir el producto" />
													</div>
												</div>
												<div class="modal fade bd-example-modal-lg"
													id="modalProducto" tabindex="-1" role="dialog"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-lg" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Lista
																	de Productos</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<div class="list-group">
																	<th:block data-th-each="p:${productos}">
																		<button type="button" th:id="${p.idProducto}"
																			class="btn-producto btn justify-content-between d-flex align-items-center btn-secondary list-group-item list-group-item-action">
																			<span th:id="${'nombre'+p.idProducto}"
																				class="nombre text-primary"
																				th:text="${p.inventario.nombre}"></span> <span
																				th:id="${'precio'+p.idProducto}"
																				th:text="${p.precioVenta}" class="hidden precio"></span>
																			<span
																				class="align-right badge badge-danger badge-pill" th:text="${p.inventario.stock}"></span>
																		</button>
																	</th:block>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fa fa-money-bill-wave fa-fw"> </i> </span>
														</div>
														<input type="hidden" value="" id="idProd" /> <input
															class="form-control text-primary" id="PrecioProducto"
															readonly type="text" required value="$ 0.00" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fa fa-boxes fa-fw"> </i> </span>
														</div>
														<input class="form-control" id="Cantidad" type="number"
															min="1" value="0" required />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fa fa-dollar-sign fa-fw"> </i> </span>
														</div>
														<input class="form-control text-danger" id="PrecioTotal"
															readonly type="text" value="" required />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-8 text-right">
													<button class="btn btn-success" id="btnAnadir"
														type="submit">Añadir</button>
												</div>
											</div>
										</form>
									</div>

									<table id="tblDetalleVenta" class="table">
										<thead>
											<tr>
												<th scope="col">Descripción</th>
												<th scope="col">Cantidad</th>
												<th scope="col">Precio Unitario</th>
												<th scope="col">Importe</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="col-12 col-sm-7"></div>
									<div class="col-12 col-sm-5 text-primary">
										<h2 id="Total-A-Pagar"></h2>

									</div>
									<div class="col-12 col-sm-10">
										<p>Total $:</p>
										<input id="totalVenta"readonly value="0" type="number"/>
									</div>

									<div class="col-12 d-flex">
										<div class=" ml-auto">
											<button class="btn btn-primary" type="button" id="btnVender">Vender</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div id="divMessage"></div>
				</div>
			</div>

			<div th:replace="views/admin/layout/layout :: footer" th:remove="tag"></div>
			<script type="text/javascript" th:src="@{/private/user/jsVenta.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/user/js/jsMessage.js}"></script>
			<script type="text/javascript" th:src="@{/private/user/filtro.js}"></script>
			<script type="text/javascript"
				th:src="@{/private/js/jquery.easysearch.min.js}"></script>
		</div>
	</div>
	<!-- /footer content -->
</body>
</html>