<footer class="footer">
	<div class="container-fluid">
		<nav class="float-left">
			<ul>
				<li><a href=""> Sistema de Gestion de Seguimiento al Egresado </a></li>
			</ul>
		</nav>
		<div class="copyright float-right">
			©2019, <a href="">Grupo 1</a>
		</div>
	</div>
</footer>
<script th:src="@{/private/js/core/jquery.min.js}"></script>
<script th:src="@{/private/js/core/popper.min.js}"></script>
<script th:src="@{/private/js/core/bootstrap-material-design.min.js}"></script>
<script th:src="@{/private/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/private/js/ajaxcore.min.js}"></script>
<script th:src="@{/private/js/material-dashboard.js?v=2.1.0}"></script>
<script th:src="@{/private/js/plugins/jquery.bootstrap-wizard.js}"></script>
<script th:src="@{/private/js/plugins/arrive.min.js}"></script>
<script th:src="@{/private/js/plugins/moment.min.js}"></script>
<script th:src="@{/private/js/plugins/sweetalert2.js}"></script>
<script th:src="@{/private/js/plugins/jquery.validate.min.js}"></script>
<script th:src="@{/private/js/plugins/bootstrap-selectpicker.js}"></script>
<script th:src="@{/private/js/plugins/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/private/js/plugins/jquery.dataTables.min.js}"></script>
<script th:src="@{/private/js/plugins/bootstrap-tagsinput.js}"></script>
<script th:src="@{/private/js/plugins/jasny-bootstrap.min.js}"></script>
<script th:src="@{/private/js/plugins/fullcalendar.min.js}"></script>
<script th:src="@{/private/js/plugins/jquery-jvectormap.js}"></script>
<script th:src="@{/private/js/plugins/nouislider.min.js}"></script>
<script th:src="@{/private/js/plugins/bootstrap-notify.js}"></script>
<script th:src="@{/private/user/js/jsEnviarToken.js}"></script>
<script th:src="@{/private/user/js/jsCaja.js}"></script>
<script src="../assets/js/core/jquery.min.js"></script>
